.search-container{
    position: relative;
    flex: 1;
    min-width: 250px;
}
.search-doctor{
    display: flex;
    align-items: center;
}
.search-icon{
    position: absolute;
    left: 0.75rem;
    top: 0.75rem;
    color: #666666;
    pointer-events: none;
}
.search-input{
    width: 100%;
    padding: 0.75rem 0.75rem 0.75rem 2.5rem;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    font-size: 1rem;
    transition: all 0.3s ease;
}
.search-input:focus{
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 3px rgba(0, 102, 204, 0.1);
}
.filter-toggle-btn, .clear-filters-btn{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    background: white;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    color: var(--text-color);
    transition: all 0.3s ease;
}
.filter-toggle-btn:hover,
.clear-filters-btn:hover{
    color: var(--primary-color);
    border-color: var(--primary-color);
}
.filters-container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}
.filters-container.open {
    opacity: 1;
    max-height: 200px;
}
.filter-select{
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    font-size: 1rem;
    color: var(--text-color);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 200px;
    padding: 0.75rem;
    margin-top: 0.5rem;
}
.filter-select:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 3px rgba(0, 102, 204, 0.1);
}